/*
=========================================
	@name : 乐教天地网络服务有限公司-首页
	@author : liangy@vcmedu.com
	@date : 16:20 2009-10-26
==========================================
*/
*{
margin:0;
padding:0;
border:0;
}
body{
text-align:center;
background:#fff;
font-weight: normal; 
    font-style: normal; 
    font-size:12px; 
    font-family:"宋体", Arial, Helvetica, sans-serif ;
}
table { 
border:0;
    border-collapse: collapse; 
    border-spacing: 0 ;
} 

input,textarea,form,dl,dd,dt { 
    margin: 0; 
    padding: 0 ;border:0;
}
a{
text-decoration:none;
}
a:hover{
text-decoration:none;
}

.hid{
visibility: hidden;

}

.hui{
color:#6a717b;}

.blue{
color:#1a61b5;
}

/*容器*/
#container{
margin:0 auto;
padding:0px;
width:100%;
height:auto;
text-align:center;
}
/*登录*/
#header{margin:0 auto;
padding:0;
width:960px;
height:79px;
background: url(../images/header_bg.gif) left repeat-x;

}
#logo{
float:left;
width:384px;
height:79px;
background: url(../images/logo.gif) left top no-repeat;

}

#nav{
clear:both;
float:left;
width:100%;
height:33px;
text-align:center;
overflow:hidden;
background: url(../images/nav_bg.gif) left repeat-x;

}
#nav_box {
margin:0 auto;
width:960px;
text-align:center;
}
#nav_box ul{
padding-left:40px;
list-style:none;
}
#nav_box li{float:left;
margin:0 12px;
padding:0 8px;
list-style:none;
text-align:center;
}
#nav_box a{
padding:0 6px;
line-height:33px;
display: block;
font-size:14px;
}
#nav_box span{



}
#nav_box a:hover{

}
.nav_home {
width:49px;
line-height:33px;
background: url(../images/nav_home.gif) left top  no-repeat;
}

.nav_aboutus {
width:80px;
line-height:33px;
background: url(../images/nav_aboutus.gif) left top  no-repeat;
}
.nav_pro {
width:92px;
line-height:33px;
background: url(../images/nav_pro.gif) left top  no-repeat;
}


.nav_aboutus {
width:80px;
line-height:33px;
background: url(../images/nav_aboutus.gif) left top  no-repeat;
}
.nav_news {
width:92px;
line-height:33px;
background: url(../images/nav_news.gif) left top  no-repeat;
}
.nav_order{
width:92px;
line-height:33px;
background: url(../images/nav_order.gif) left top  no-repeat;
}

.nav_service{
width:92px;
line-height:33px;
background: url(../images/nav_suppor.gif) left top  no-repeat;
}

#fla{
clear:both;

margin:0 auto;
width:960px;
height:286px;
text-align:center;
overflow:hidden;
}

/*主部*/
#main{
clear:both;
margin:0 auto;
padding-top:2px ;
width:960px;
height:300px;
overflow:hidden;
border-bottom:1px #dddddd solid;
background: url(../images/main_bg.gif) left top  no-repeat;
}

#news,#mar{
float:left;
width:340px;

height:335px;
text-align:left;
background:#f8f9fb url(../images/Btitle_bg.gif) left top  repeat-x;
}
#pns{
float:left;
width:280px;
height:335px;
text-align:left;
background:#f8f9fb url(../images/Btitle_bg.gif) left top  repeat-x;
}
#news h5,#mar h5,#pns h5{
margin-left:12px;
width:200px;
height:34px;
font-family:"宋体", Arial, Helvetica, sans-serif;
font-size:12px;
}

#news h5{

background: url(../images/news_t.gif) left top  no-repeat;
}
#mar h5{
background: url(../images/mar_t.gif) left top  no-repeat;
}
#pns h5{
background: url(../images/pns_t.gif) left top  no-repeat;
}

#news_box{
padding:8px 10px;
width:318px;
height:300px;
text-align:left;overflow:hidden;
}
#mar_box{
padding:8px 10px;
width:319px;
height:300px;
text-align:left;border-left:1px #c8d4d4 dashed;


overflow:hidden;
}

#pns_box{


width:259px;
height:300px;border-left:1px #c8d4d4 dashed;
text-align:center;overflow:hidden;
}

#news_box ul, #news_box li, #news_box dl, #mar_box ul, #mar_box li, #mar_box dl, #pns_box ul, #pns_box li{

list-style:none;

}
#news_box li, #mar_box li {

padding:2px 0;
text-align:left;
}
#news_box li span,#mar_box li span{
width:200px;
display:block;
font-size:12px;line-height:20px;
color:#45ad02;
}
#news_box dl,#mar_box dl{
margin:0;
padding:0;
text-align:left;
}
#news_box dd,#mar_box dd{

}
#news_box dt,#mar_box dt{
padding-left:12px;
}
#news_box li a,#mar_box li a{

width:280px;
line-height:22px;

font-size:14px;
color:#195a94;
}

#pns_box ul {
padding:4px 18px;
width:98%;text-align:left;
}


#pns_box li {
padding:3px 0;
width:242px;
height:80px;
overflow:hidden;

}
#news_box li a:hover,#mar_box li a:hover{
color:#fc550f;
text-decoration:underline;
}

/*页尾*/
#footer{clear:both;

margin:5px auto;

padding:8px 0 4px 0;
width:960px;
height:50px;
text-align:center;
line-height:22px;
font-size:12px;
color:#4d4d4d;
background: url(../images/footer_bg.gif) left top  repeat-x;

}
#footer p{
line-height:22px;
}
#footer a{
font-size:12px;
color:#4d4d4d;
}

#footer a:hover{color:#195a94;
text-decoration:underline;
}

#f_nav a{
padding:0 18px;
font-size:12px;
color:#4d4d4d;



}