/*
=========================================
	@name : 乐教天地网络服务有限公司-内页
	@author : liangy@vcmedu.com
	@date : 16:20 2009-10-26
==========================================
*/
.top_aboutus{
clear:both;
margin:2px auto;
width:960px;
height:135px;
background: url(../images/top_aboutus.jpg) left top no-repeat;

}
.top_news{
clear:both;
margin:2px auto;
width:960px;
height:135px;
background: url(../images/top_news.jpg) left top no-repeat;


}
.top_service{
clear:both;
margin:2px auto;
width:960px;
height:135px;
background: url(../images/top_service.jpg) left top no-repeat;

}


.top_products{

clear:both;
margin:2px auto;
width:960px;
height:135px;
background: url(../images/top_products.jpg) left top no-repeat;

}
.mainbox{
margin:3px auto;
padding-bottom:6px;
width:960px;
height:auto;

text-align:center;


}
.mainb_left{
float:left;
width:201px;
height:auto;

}
.title_aboutus{

width:201px;
height:65px;
overflow:hidden;
background: url(../images/title_aboutus.gif) left top no-repeat;


}
.title_news{

width:201px;
height:65px;
overflow:hidden;
background: url(../images/title_news.jpg) left top no-repeat;


}
.title_service{


width:201px;
height:65px;
overflow:hidden;
background: url(../images/title_service.gif) right top no-repeat;
}
.title_products{
width:201px;
height:65px;
overflow:hidden;
background: url(../images/title_products.gif) right top no-repeat;
}

.link_aboutus{

width:201px;
height:auto;
text-align:left;
overflow:hidden;
background: url(../images/leftbox_bg.gif) left top repeat-y;
}

.link_aboutus ul{
margin:6px 0 0 18px;
padding-left:10px 2px 2px 2px ;
list-style:none;
text-align:left;
}
.link_aboutus li{
margin:4px 0;
padding:2px;

list-style:none;

}
.link_aboutus a{
padding:8px 0 8px 8px;
display:block;
color:#1a61b5;


}

.link_aboutus li a:hover{

text-decoration:underline;

}

.link_aboutus li a.active {

color:#fff;
background:#1a61b5;

}
.link_aboutus li a:active {

color:#fff;
background:#1a61b5;

}
.bottom_aboutus{

width:201px;
height:221px;
overflow:hidden;
background: url(../images/bottom_aboutus.gif) left top no-repeat;



}
.bottom_news{

width:201px;
height:221px;
overflow:hidden;
background: url(../images/bottom_news.gif) left top no-repeat;



}
.bottom_service{

width:201px;
height:221px;
overflow:hidden;
background: url(../images/bottom_service.gif) right top no-repeat;
}
.mainb_right{
margin-left:10px;
float:left;
width:748px;
height:auto!important;
height:430px;
min-height:430px;
background: url(../images/mainr_bg.gif) left top repeat-x;
}
.mainb_l{
float:left;
width:10px;
height:430px;
background: url(../images/mainr_l_bg.gif) left top no-repeat;

}
.mainb_r{
float:right;
width:10px;
height:430px;
background: url(../images/mainr_r_bg.gif) left top no-repeat;

}
.mainb_m{
width:720px;
height:auto;
overflow:hidden;


}

.now_position{
padding:2px 0 0 10px;
width:710px;
height:40px;
text-align:left;
overflow:hidden;
color:#1a61b5;white-space: nowrap;  -o-text-overflow: ellipsis;  text-overflow: ellipsis; 
word-break:breakall;
}

.now_position a{
line-height:40px;
color:#1a61b5;
}

.now_position a:hover{

text-decoration:underline;
}

.mainb_pic{
padding:2px;
width:718px;
height:190px;
overflow:hidden;
text-align:left;
}
.mainb_pic_01{
float:left;
width:250px;
height:190px;
overflow:hidden;
background: url(../images/abus_01.jpg) left top no-repeat;

}

.mainb_pic_02{
float:left;
width:220px;
height:190px;
overflow:hidden;
background: url(../images/abus_02.jpg) right top no-repeat;

}

.mainb_pic_03{
float:left;
width:240px;
height:190px;
overflow:hidden;
background: url(../images/abus_03.jpg) left top no-repeat;

}

.mainb_content_abus{
padding:10px 14px;width:692px;

text-align:left;
font-size:14px;
line-height:28px;
color:#424242;
}

.mainb_content_news{
padding:10px 14px;width:692px;
height:auto!important;
height:430px;
min-height:430px;font-size:14px;
text-align:left;
line-height:28px;
color:#424242;
background: url(../images/mainb_news_bg.jpg) right top no-repeat;

}
.mainb_content_service_box{

font-size:14px;
line-height:28px;
color:#424242;
}
#ArticleTit{
width:692px;
height:31px;
line-height:31px;
text-align:center;
font-size:14px;
font-weight:normal;
overflow:hidden;


}
#ArtFrom{font-size:13px;
font-weight:normal;
text-align:center;line-height:28px;
border-top:1px #d4d4d4 solid;
border-bottom:1px #d4d4d4 solid;
overflow:hidden;
}
#ArtFrom a{
color:#1a61b5;

}
#ArticleCnt{
padding:10px 0;
width:692px;
height:auto;
overflow:hidden;line-height:21px;font-size:14px;
color:#424242;
}
#ArticleCnt p{
margin-bottom:4px;text-indent:21pxt;


}
.mainb_content_news_list{
width:692px;
height:auto;

}

.mainb_content_news ul{

list-style-type:none;


}

.mainb_content_news li{display:block;width:680px;
font-size:13px;
list-style-type:none;
line-height:28px;
color:#393939;
background:url( ../images/list_point.gif) left center no-repeat;
border-bottom:1px #d8d8d8 solid;
}

.mainb_content_news li a{
float:left;padding-left:12px;
display:block;
width:540px;
line-height:28px;
overflow:hidden;
 white-space: nowrap;  -o-text-overflow: ellipsis;  text-overflow: ellipsis; 
word-break:breakall;
color:#393939;
}
.mainb_content_news li a:hover{
color:#1a61b5;

}
.mainb_content_news li span{
float:left;display:block;
padding-left:20px;
width:80px;
line-height:22px;
overflow:hidden;
 white-space: nowrap;  -o-text-overflow: ellipsis;  text-overflow: ellipsis; 
 
}

.mainb_content_service{
margin-top:10px;
padding:10px 14px;
width:692px;
height:auto!important;
height:430px;
min-height:430px;
text-align:left;
color:#424242;


}

.mainb_content_products{
float:left;
margin-top:10px;
padding:0 14px;
width:692px;
height:auto!important;
height:430px;
min-height:430px;
text-align:left;
color:#424242;


}




.service_Contactus{
line-height:32px;
color:#424242;
}


.service_Contactus th{
padding-right:4px;
font-weight:normal;
text-align:right;
border-bottom:1px #d4d4d4 solid;
}
.service_Contactus td{

text-align:left;border-bottom:1px #d4d4d4 solid;
}
#n_page{
clear:both;
margin-top:8px;
margin-left:auto;
margin-right:auto;
width:620px;
height:31px;
line-height:31px;
text-align:center;
color:#4d4d4d;
font-size:13px;
background: url(../images/page_bg.gif) right top repeat-x;

}
#n_page a{

}
#n_page a:hover{
text-decoration:underline;
}




.service_box_pic{
margin-right:6px;
float:left;
width:230px;
height:160px;
overflow:hidden;
background: url(../images/mainb_service_bg.jpg) left bottom no-repeat;
}

.products_box_pic{
margin-right:8px;
margin-bottom:8px;
float:left;
width:210px;
height:109px;
overflow:hidden;
background: url(../images/mainb_pro_bg.jpg) left bottom no-repeat;

}
.products_box_title{

height:31px;
line-height:31px;
text-align:center;
border-bottom:1px #d4d4d4 solid;

}
.products_box_title h4{

font-size:14px;
font-weight:normal;

}
.products_details{
padding:10px 0;
line-height:28px;
font-size:14px;
color:#424242;
}
